# Isolated Android configuration for production GBA link validation.
# It is passed through the RetroActivity intent and does not replace the
# user's normal RetroArch configuration.
video_driver = "gl"
video_threaded = "false"
video_vsync = "true"
audio_enable = "false"
autosave_interval = "0"
input_driver = "android"
joypad_driver = "android"
input_player1_a_btn = "97"
input_player1_b_btn = "96"
input_player1_down_btn = "20"
input_player1_left_btn = "21"
input_player1_right_btn = "22"
input_player1_up_btn = "19"
input_enable_hotkey_btn = "nul"
input_menu_toggle_btn = "110"
input_overlay_enable = "false"
input_menu_toggle = "h"
input_netplay_host_toggle = "m"
input_reset = "nul"
menu_driver = "xmb"
menu_swap_ok_cancel_buttons = "false"
accessibility_enable = "true"
accessibility_narrator_speech_speed = "1"
content_show_add_entry = "0"
content_show_contentless_cores = "0"
content_show_explore = "false"
content_show_favorites = "false"
content_show_history = "false"
content_show_images = "false"
content_show_netplay = "2"
content_show_playlist_tabs = "false"
content_show_playlists = "false"
content_show_settings = "false"
menu_show_configurations = "false"
menu_show_information = "false"
menu_show_load_core = "false"
menu_show_load_content = "false"
menu_show_online_updater = "false"
menu_show_quit_retroarch = "false"
menu_show_restart_retroarch = "false"
rewind_enable = "false"
run_ahead_enabled = "false"
log_verbosity = "true"
libretro_log_level = "0"
log_to_file = "true"
log_dir = "/sdcard/Android/data/com.retroarch.aarch64/files/mgba-netplay-validation"
network_cmd_enable = "true"
network_cmd_port = "55355"
netplay_ip_port = "55440"
netplay_ip_address = "192.0.2.10"
netplay_use_mitm_server = "false"
netplay_public_announce = "false"
netplay_nickname = "mgba-link-validation"
