# Isolated rendered Android configuration for GBA Wi-Fi Link qualification.
video_driver = "gl"
video_threaded = "false"
video_vsync = "true"
audio_driver = "opensl"
audio_enable = "true"
audio_sync = "true"
audio_latency = "64"
autosave_interval = "0"
input_driver = "android"
joypad_driver = "android"
input_autodetect_enable = "true"
input_player1_joypad_index = "0"
input_enable_hotkey = "nul"
input_menu_toggle = "h"
input_menu_toggle_btn = "110"
input_netplay_host_toggle = "m"
input_netplay_host_toggle_btn = "109"
input_overlay = "/data/user/0/com.retroarch.aarch64/overlays/gamepads/neo-retropad/neo-retropad.cfg"
input_overlay_enable = "true"
menu_driver = "ozone"
rewind_enable = "false"
run_ahead_enabled = "false"
config_save_on_exit = "false"
core_options_path = "/sdcard/Android/data/com.retroarch.aarch64/files/mgba-gba-wifi-link-qualification/core-options.cfg"
savefile_directory = "/sdcard/Download/mgba-gba-wifi-link-qualification-saves"
savestate_directory = "/sdcard/Download/mgba-gba-wifi-link-qualification-states"
log_verbosity = "true"
frontend_log_level = "1"
libretro_log_level = "1"
log_to_file = "true"
log_to_file_timestamp = "true"
log_dir = "/sdcard/Android/data/com.retroarch.aarch64/files/mgba-gba-wifi-link-qualification/logs"
performance_counters_enable = "true"
network_cmd_enable = "true"
network_cmd_port = "55355"
netplay_ip_port = "55450"
# Supply the current host address privately for each qualification run.
netplay_ip_address = ""
netplay_nat_traversal = "false"
netplay_use_mitm_server = "false"
netplay_public_announce = "false"
netplay_nickname = "mgba-wifi-link-client"
